* { margin: 0; font-family: "SansArabic";}
/**********************/
:root {
  --color-1: #616d7d; /** Dark Brown 694700**/ 
  --color-2: #439e8d  ; /** Light Brown c69a39**/
  --color-3: #3a3839; /** Light **/
  --color-4: #f2f2f2; /**Body Back**/
  --color-5: #002f45;
}
/**********************/
.r_ht-1 {height: 10px;} 
.r_ht-2 {height: 20px;} 
.r_ht-3 {height: 30px;} 
.r_ht-4 {height: 40px;} 
.r_ht-5 {height: 50px;}
.r_ht-6 {height: 60px;} 
.r_ht-7 {height: 70px;} 
.r_ht-8 {height: 80px;} 
.r_ht-9 {height: 90px;} 
.r_ht1 {height: 100px;} 
.r_ht2 {height: 200px;} 
.r_ht3 {height: 300px;} 
.r_ht4 {height: 400px;} 
.r_ht5 {height: 500px;}
.r_break-10{ width: 100%; height: 10px; background-color: none;}
.r_break-5{ width: 100%; height: 5px; background-color: none;}
.r_block {height: ;}
.r_fs-10{font-size: 10px;} .r_fs-15{font-size: 15px;} .r_fs-20{font-size: 20px;} .r_fs-25{font-size: 25px;}
.r_bg-red{ background-color: #ccc; }
.r_svg { width: 100px; }
.r_svg:hover { width: 120px; }
/***********************/
.r_bg-color1 { background-color: var(--color-1); }
.r_bg-color2 { background-color: var(--color-2); }
.r_bg-color3 { background-color: var(--color-3); }
.r_bg-color4 { background-color: var(--color-4); }
.r_bg-color5 { background-color: var(--color-5); }
/****************************/
.r_banner-text1{
	color: var(--color-1);
	font-size: 25px;
	font-weight: bold;
}
.r_banner-text2{
	color: black;
	font-size: 16px;
	font-weight: bold;
}
/**********************/
.r_nav-link {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.r_nav-link:hover {
	background-color: var(--color-1);
}

.r_border {
	border-bottom: 2px solid var(--color-1);
}

.r_section-border {
	margin-top: 10px;
	border-top: 5px solid var(--color-1);
}

.round-border {
	border: 2px dotted var(--color-2);
	background-color: white;
}

.round-border:hover {
	background-color: var(--color-2);
	border: 2px dotted white;
}

.ads-border {
	border: 2px solid var(--color-2);
}

.r_main-row {
	border-top: 4px solid var(--color-2);
	border-bottom: 4px solid var(--color-2);
}
.r_main-img {
	width: 100%;
	height: 400px;
}

.r_main-title {
	color: var(--color-1);
	font-size: 40px;
	font-weight: bold;
}

.r_main-title:hover {
	color: var(--color-2);
	text-decoration: underline;
}

.r_main-details {
	color: black;
	font-size: 25px;
}

.r_section-title {
	font-size: 20px;
	color: black;
	text-align: center;
	font-weight: bold;
}

.r_news1 {
	font-size: 20px;
	color: white;
	text-align: center;
}

.r_news1:hover {
	color: var(--color-3);
	font-weight: bold;
}

.r_news2 {
	font-size: 20px;
	color: var(--color-1);
	text-align: center;
	vertical-align: baseline;
}

.r_news2:hover {
	color: var(--color-1);
	font-weight: bold;
}
/*********************/
/* Screen: 540px (col: 45px)*/
@media (max-width: 767px) {
	.r_cs-img { width: 100%; height: 310px;}
}

/* Screen: 720px (col: 60px)*/
@media (min-width: 768px) {
	.r_cs-img { width: 100%; height: 410px;}
}

/* Screen: 960px (col: 80px)*/
@media (min-width: 992px) {
	.r_cs-img { width: 640px; height: 365px;}
}

/* Screen: 1140px (col: 95px)*/
@media (min-width: 1200px) {
	.r_cs-img { width: 760px; height: 435px;}
}